.course {
	margin-top: 30px;
}

.course header {
	font-size: 200%;
}

.piece-teaser {
	padding: 0px;
}

.piece-row {
	margin-top: 20px;	
}

.piece-teaser .meta {
  font-size: 80%;
}

.piece-link {
	 color: #343a40!important;
}

.piece-teaser-block {
	padding: 20px;
}

.classes-list-in-course h4 {
	font-size: 120%;
}
