--- 
layout: default

---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
	<header id="main"
		style="background-image: url('/{{ page.feature-img }}')">
		{% for topic in site.courses %} 
			{% if topic.type_topic and page.topicid == topic.topicid %}
				<div class="class-back-link">Part of topic <a href="{{ topic.url }}">{{ topic.title }}</a></div>
			{% endif %}
		{% endfor %}

		<h1 id="{{ page.title | default: " " | cgi_escape }}" class="title">
			{{ page.title }}</h1>

		{% if page.subtitle %}
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		{% endif %}

	</header>
	<section class="post-content">
		<iframe width="640" height="390" src="{{ page.video }}"
			frameborder="0" allow="autoplay; encrypted-media" allowFullScreen></iframe>
		<div class="bootstrap-iso">{{ content }}</div>
	</section>

</article>
