--- 
layout: default 

---

	<style>
	.site-header-slim {
	  background: url('{{ site.baseurl }}{{ page.header_image }}') center center no-repeat scroll;
	}
	</style>

<article {% if page.feature-img %}class="feature-image"{% endif %}>
	<header class="site-header-slim" id="main"
		style="background-image: url('{{site.baseurl}}{{ page.header-image }}')">
		<h1 id="{{ page.title | default: " " | cgi_escape }}" class="title text-center">
			{{ page.title }}</h1>

		{% if page.subtitle %}
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		{% endif %}

	</header>
	<section class="post-content">
		{% if page.bootstrap %}
		<div class="bootstrap-iso">{% endif %} {{ content }} {% if
			page.bootstrap %}</div>
		{% endif %}
	</section>

</article>

<div class="mb-0 topics">
	{% for topic in site.courses %} {% if topic.hidden==false and
	topic.type_topic and page.courseid == topic.courseid %}
	<div class="row card box-shadow">

		<div class="col-md-12 h-md-250 topic-teaser">
			{% if topic.thumbnail %}
			<div class="thumbnail">
				<img src="/{{ topic.thumbnail }}">
			</div>
			{% endif %}
			<div class="card-header">
				<h3 class="mb-0">
					<a class="topic-link" href="{{ topic.url }}"> {{ topic.title }}
					</a>
				</h3>
				<div class="meta">{{ topic.date | date: "%B %-d, %Y" }}</div>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="excerpt col-md-6">
						{{ topic.excerpt }}
						<!--{{ topic.content | strip_html | truncate: "250" }}-->
						<!--<a class="button" href="{{ topic.url }}">
		              {{ site.theme_settings.str_continue_reading }}
		            </a>-->
					</div>
					<div class="col-md-6">JEE</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>
