--- 
layout: default 

---

	<style>
	.site-header-slim {
	  background: url('{{ site.baseurl }}{{ page.header_image }}') center center no-repeat scroll;
	}
	</style>

<article {% if page.feature-img %}class="feature-image"{% endif %}>
	<header class="site-header-slim" id="main"
		style="background-image: url('{{site.baseurl}}{{ page.header-image }}')">
		<h1 id="{{ page.title | default: " " | cgi_escape }}" class="title text-center">
			{{ page.title }}</h1>

		{% if page.subtitle %}
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		{% endif %}

	</header>
	<section class="post-content">
		{% if page.bootstrap %}
		<div class="bootstrap-iso">{% endif %} {{ content }} {% if
			page.bootstrap %}</div>
		{% endif %}
	</section>

</article>

<div class="mb-0 topics">
	{% for piece in site.courses %} {% if piece.hidden==false and
	piece.type_topic and page.courseid == piece.courseid %}
	<div class="row piece-row">
		<div class="col-md-12 card box-shadow piece-teaser">
			{% if piece.thumbnail %}
			<div class="thumbnail">
				<img src="/{{ piece.thumbnail }}">
			</div>
			{% endif %}
			<div class="card-header">
				<h3 class="mb-0">
					<a class="piece-link" href="{{ piece.url }}"> {{ piece.title }}
					</a>
				</h3>
				<div class="meta">{{ piece.date | date: "%B %-d, %Y" }}</div>
			</div>
			<div class="piece-teaser-block">
				<div class="row">
					<div class="excerpt col-md-6">
						{{ piece.excerpt }}
						<!--{{ piece.content | strip_html | truncate: "250" }}-->
						<!--<a class="button" href="{{ piece.url }}">
		              {{ site.theme_settings.str_continue_reading }}
		            </a>-->
					</div>
					<div class="col-md-6 classes-list-in-course">
						<div class="row">
							<h4 class="classes-list-title">Classes</h4>
						</div>
						{% for pclass in site.courses %} 
						{% if pclass.hidden==false and pclass.type_class and piece.topicid == pclass.topicid %}
						<div class="row">
							<a href="{{ pclass.url }}">{{ pclass.title }}</a>
						</div>
						{% endif %} {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>
