--- 
layout: default 

---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
	<header id="main"
		{% if page.header_image %}
			style="background-image: url('{{site.baseurl}}/{{ page.header_image }}')" 
		{% else %}
			style="background-image: url('{{site.baseurl}}/assets/img/blue-skies-green-fields-hd-wallpaper.jpg')";
		{% endif %}>

		{% for course in site.courses %} 
			{% if course.type_course and page.courseid == course.courseid %}
				<div class="topic-back-link">Part of course <a href="{{ course.url }}">{{ course.title }}</a></div>
			{% endif %}
		{% endfor %}
		
		<h1 id="{{ page.title | default: " " | cgi_escape }}" class="title">
			{{ page.title }}</h1>

		{% if page.subtitle %}
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		{% endif %}

	</header>
	<section class="post-content">
		{% if page.bootstrap %}
		<div class="bootstrap-iso">{% endif %} {{ content }} {% if
			page.bootstrap %}</div>
		{% endif %}
	</section>

</article>

{% assign sortedpieces = site.courses | sort: 'name' %} 

<div class="classs">
	{% for piece in sortedpieces %} {% if piece.hidden==false and piece.type_class and page.topicid == piece.topicid %}
	<div class="row piece-row">
		<div class="col-md-12 card box-shadow piece-teaser">
			{% if piece.thumbnail %}
			<div class="thumbnail">
				<img src="/{{ piece.thumbnail }}">
			</div>
			{% endif %}
			<div class="card-header">
				<h3 class="mb-0">
					<a class="piece-link" href="{{ piece.url }}"> {{ piece.title }}
					</a>
				</h3>
				<div class="meta">{{ piece.date | date: "%B %-d, %Y" }}</div>
			</div>
			<div class="piece-teaser-block">
				<div class="row">
					<div class="excerpt col-md-6">
						{{ piece.excerpt }}
						<!--{{ piece.content | strip_html | truncate: "250" }}-->
						<!--<a class="button" href="{{ piece.url }}">
		              {{ site.theme_settings.str_continue_reading }}
		            </a>-->
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endfor %}
</div>
