--- 
layout: default 

---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
	<header id="main"
		style="background-image: url('/{{ page.feature-img }}')">
		<h1 id="{{ page.title | default: " " | cgi_escape }}" class="title">
			{{ page.title }}</h1>

		{% if page.subtitle %}
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		{% endif %}

	</header>
	<section class="post-content">
		{% if page.bootstrap %}
		<div class="bootstrap-iso">{% endif %} {{ content }} {% if
			page.bootstrap %}</div>
		{% endif %}
	</section>

</article>

<div class="row mb-2 topics">
	{% for topic in site.courses %} 
	{% if topic.hidden==false and topic.type_class and page.topicid == topic.topicid %}
	<div class="col-md-6">

		<div class="card mb-4 box-shadow h-md-250 topic-teaser">
			{% if topic.thumbnail %}
			<div class="thumbnail">
				<img src="/{{ topic.thumbnail }}">
			</div>
			{% endif %}
			<header>
				<h3 class="mb-0">
					<a class="topic-link" href="{{ topic.url }}"> {{ topic.title }}
					</a>
				</h3>
				<p class="meta">{{ topic.date | date: "%B %-d, %Y" }}</p>
			</header>

			<div class="excerpt">
				{{ topic.excerpt }}
				<!--{{ topic.content | strip_html | truncate: "250" }}-->
				<!--<a class="button" href="{{ topic.url }}">
	              {{ site.theme_settings.str_continue_reading }}
	            </a>-->
			</div>
		</div>
	</div>
	{% endif %} 
	{% endfor %}
</div>
